@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app="myApp" ng-controller="myCtrl">
    <head>
        <title>@title</title>
            <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("../../public/javascripts/app/weatherApp.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
        <div id="chart_div"></div>
        <div id="table_div"></div>
    </body>
</html>
